*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    font-size: 20;
    font-weight: 400;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;   
    color: #474747;
    text-decoration: none;
}