*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    font-size: 20;
    font-weight: 700;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.text-center{
    text-align: center;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;   
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid; */
    margin: 45px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about, #skills, #resume{
    padding-top: 130px;
}
#about .about-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 155px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    /* margin-bottom: 30px; */
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills .skill-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skill-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skill-card{
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid; */
    box-shadow: 0 6px 50px 0 #00000037;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container hr{
    margin: 30px 0;
}
#resume .resume-container{
    width: 70%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
#resume .resume-container .section-title{
    font-size: 30px;
    font-weight: 900;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: 900;
    color: #474747;
    margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.resume-card .card-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px;
}
footer .footer-container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom:30px;
}
.footer-container .icon a{
    margin-right: 24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
.hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    #about, #skills, #resume {
    padding-top: 60px;
}
#skills .skill-container .skills-box, #about .about-container .about-info, footer .footer-container, #resume .resume-container, nav, #banner{
    flex-direction: column;
}
.section-heading h2 {
    font-size: 30px;
}
.btn-group{
    justify-content: center;
}
nav{
    gap: 25px;
}
nav .menu{
    flex-wrap: wrap;
    justify-content: center;
}
header {
    background:url(../images/header_bg.png);
    background-position:bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
#banner{
    margin: 20px;
    gap: 20px;
    text-align: center;
}
#banner .banner-image img{
    width: 100%;
}
#banner .banner-content h1{
    font-size: 55px;
}
#about .about-container{
    padding: 30px 20px;
}
#about .about-container .about-info{
    gap: 40px;
}
#skills .skill-container {
    width: 95%;
}
#resume .resume-container{
    margin-top: 60px;
}
.resume-card{
    margin-right: 10px;
}
.skills-box .skill-card{
    max-width: 100%;
}
footer{
    padding: 70px;
}
.footer-container form input[type="text"], .footer-container form textarea {
    width: 100%;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}
}